<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Thing I Need To Do </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/a04d9e4c1c.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ramda/0.22.1/ramda.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
  </head>

  <body ng-app="TodoApp">
    <div class="container" ng-controller="TodoCtrl">
      <h3 class="list-group-item title"> You have {{getTotal}} Angular Todos</h3>
      <div ng-repeat= "todo in todos" class="list-group-item">
        <input type= "checkbox" ng-model="todo.done" class="done-{{todo.done}}"/>
        <span ng-model-instant="todo.text" class="done-{{todo.done}}">{{todo.text}}</span>
        <span ng-model= "todo.priority" class= "priority {{todo.priority}}">{{todo.priority}}</span>
        <a href="" ng-click="move($index, 'up')"><span class="glyphicon glyphicon-circle-arrow-up"></span></a>
        <a href="" ng-click="move($index, 'down')"><span class="glyphicon glyphicon-circle-arrow-down"></span></a>
        <a href="" ng-click="removeTodo($index)"><span class="glyphicon glyphicon-remove"></span></a>
      </div>

      <div class= "list-group-item" ng-show= "todoText">
        <input type= "checkbox" disabled= "true">
        <input type= "checkbox" disabled= "true" class= "todobox" placeholder= {{todoText}}>
        <input type= "checkbox" disabled= "true" class= "todobox" placeholder= {{todoPriority}}>
      </div>

      <form class= "list-group-item">
        <input type= "text" placeholder= "Add your task here" ng-model= "todoText"/>
        <select ng-model= "todoPriority">
          <option value= "normal">Low</option>
          <option value= "normal">Medium</option>
          <option value= "normal">High</option>
        </select>
        <button ng-click= "addTodo()">Add Task to List</button>
      </form>
    </div>
  </body>
</html>
